@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

:root {
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --ff-primary: "Cinzel", serif;
  --transition: all 0.3s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}
nav {
  background: white;
  box-shadow: var(--dark-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: blue;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: darkblue;
  transform: rotate(90deg);
}

.links a {
  color: black;
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: black;
  color: white;
  padding-left: 1.5rem;
}

.container {
  text-align: center;
}

.container h2 {
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2.5rem;
}

.color {
  color: white;
}
.btn-hero {
  font-family: var(--ff-primary);
  background: transparent;
  color: black;
  display: inline-block;
  font-weight: 700;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.btn-hero:hover {
  color: white;
  background: black;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .nav-center {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    color: blue;
    background: transparent;
  }
  .nav-center h2 {
    margin-bottom: 0;
  }
  .links a {
    color: black;
    font-size: 1.5rem;
  }
}
